*.mp4
.env
partial_movie_file_list.txt

# Ignore all files in the media directory
media/

# If you want to be more specific:
# Ignore SVG files in the media/texts directory
media/texts/*.svg

# Ignore video files
media/videos/

# Ignore partial movie files
media/videos/**/partial_movie_files/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
